* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90vw;
  height: 90vh;
  margin: auto;
  padding: 4.3vw;
  background-color: red;
}

.panel {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 3%;
  background-color: #AEB6BF;
}

/* resistencia */
.resistance {
  width: 50%;
  height: 20%;
  margin-right: 25%;
  border: solid 1px black;
  border-radius: 1vw;
  display: flex;
  background-color: #F0E49E;
  float: right;
}

.banda {
  width: 10%;
  height: 100%;
  background-color: blue;
  border: solid 1px black;
}

.divisorPrimario {
  width: 10%;
  height: 100%;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.divisor {
  width: 10%;
  height: 100%;
}

.divisorDoble {
  width: 20%;
  height: 100%;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
